<div class="w-full flex-shrink-0">
    <div class="text-center font-normal pt-4 pb-2 flex flex-row items-center justify-center">
        <div class="pl-4">
            API Data from <a target="_blank" rel="noopener noreferrer" href="https://docs.opendota.com/" class="text-blue-700">OpenDota</a>
        </div>
        <div class="pl-4">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/superandybean/prediction-game" class="text-blue-700">Open Source</a>
        </div>
    </div>
</div>
