<div class="relative w-full flex flex-col bg-gray-700">
    <div class="font-bold text-5xl lg:text-7xl pt-6 text-center text-white">
        <a href="/">Predictions Game</a>
    </div>
    <div class="w-full py-1 pr-2 text-white text-lg lg:text-xl flex justify-end">
        {{#if user}} Hello, {{user.displayName}}.&nbsp;<a href="/user/{{user.id}}" class="text-blue-300 cursor-pointer">Profile</a>&nbsp;|&nbsp;<a class="text-blue-300 cursor-pointer" href="/logout">Logout</a>{{else}}<a href="/auth/steam" class="text-blue-300">Login with Steam</a>{{/if}}
    </div>
    <div class="w-full grid grid-cols-2 gap-y-2 lg:flex lg:flex-row place-items-center items-center justify-center py-2 bg-gray-600 text-white">
        <div class="w-full lg:w-1/4 text-xl md:text-2xl flex items-center justify-center text-center {{#if (if_equals "Home" page_name)}}font-bold{{/if}} hover:font-bold"><a href="/" class="w-full">Home</a></div>
        <div class="w-full lg:w-1/4 text-xl md:text-2xl flex items-center justify-center text-center {{#if (if_equals "Upcoming Matches" page_name)}}font-bold{{/if}} hover:font-bold"><a href="/upcoming_matches" class="w-full">Upcoming Matches</a></div>
        <div class="w-full lg:w-1/4 text-xl md:text-2xl flex items-center justify-center text-center {{#if (if_equals "Complete Matches" page_name)}}font-bold{{/if}} hover:font-bold"><a href="/complete_matches" class="w-full">Complete Matches</a></div>
        <div class="w-full lg:w-1/4 text-xl md:text-2xl flex items-center justify-center text-center {{#if (if_equals "Leaderboard" page_name)}}font-bold{{/if}} hover:font-bold"><a href="/leaderboard" class="w-full">Leaderboard</a></div>
    </div>
</div>
