<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Who's better at predicting pro DPC matches: you or your friends? Come play and find out. Compete against your friends and the community in this predictor game, inspired by FiveThirtyEight’s NFL Forecasting Game.">

    <meta property='og:type' content='website'>
    <meta property='og:url' content="https://dpc-predictions-game.herokuapp.com/">
    <meta property='og:title' content="DPC Predictions Game">
    <meta property='og:description' content="Who's better at predicting pro DPC matches: you or your friends? Come play and find out. Compete against your friends and the community in this predictor game, inspired by FiveThirtyEight’s NFL Forecasting Game.">
    <meta property='og:image' content="/imgs/favicon.ico">

    <meta name='twitter:card' content='summary_large_image'>
    <meta name='twitter:title' content="DPC Predictions Game">
    <meta name='twitter:image' content="/imgs/favicon.ico">
    <meta name='twitter:url' content="https://dpc-predictions-game.herokuapp.com/">
    <meta name='twitter:description' content="Who's better at predicting pro DPC matches: you or your friends? Come play and find out. Compete against your friends and the community in this predictor game, inspired by FiveThirtyEight’s NFL Forecasting Game.">

    {{#if (if_equals title "Upcoming Matches")}}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
    {{/if}}

    {{#if (if_equals title "User Information")}}
    <script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    {{/if}}

    {{#if (if_equals title "Compare Users")}}
    <script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    {{/if}}

    <link href="/output.css" rel="stylesheet">
</head>
