<!DOCTYPE html>
<html lang="en">
	{{> head_tag title="Please Wait"}}
	<body class="min-h-full flex flex-col">
        {{> loading_header page_name=""}}
		<div class="px-4 py-2 flex flex-col flex-grow">
            <div class="w-full text-4xl font-bold text-center">
                The website is currently restarting. Please come back in a couple minutes!
            </div>
        </div>
        {{> footer}}
    </body>
</html>
