@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-400;
}

.noUi-horizontal .noUi-handle {
    height: 20px;
    width: 20px;
    top: -10px;
    right: -10px; /* half the width */
    border-radius: 10px;
    border-width: 2px;
    border-color: gray;
}

.noUi-handle:before, .noUi-handle:after {
    display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.noUi-tooltip {
    border: 0;
    background-color: transparent;
}

.noUi-handle:hover {
    cursor: ew-resize
}

a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

.slide_width {
    width: 300px
}

@media (max-width: 767px) {
    .slide_width {
        width: 200px
    }
}

.awesome_slider_class {
    width: calc(100% - 300px);
}

@media (max-width: 767px) {
    .awesome_slider_class {
        width: auto
    }
}

.logo_image_height {
    width: 70px
}

@media (max-width: 767px) {
    .logo_image_height {
        width: 40px
    }
}

.points_text {
    width: 400px
}

@media (max-width: 767px) {
    .points_text {
        width: auto
    }
}

.plusminus {
    color: #ecf0f1;
    width: 40px;
    height: 40px;
    border: 0;
    position: relative;
}

.plusminus_class {
    color: black;
    width: 20;
    height: 20px;
    border: 0;
    position: relative;
}

.plusminusspan {
    position: absolute;
    transition: 300ms;
    background: white;
    border-radius: 2px;
  }

.plusminusspanfirst {
    top: 25%;
    bottom: 25%;
    width: 10%;
    left: 45%;
}

.plusminusspansecond {
    left: 25%;
    right: 25%;
    height: 10%;
    top: 45%;
}

.toggle_button_animation .plusminusspan {
    transform: rotate(-90deg);
}

.toggle_button_animation .plusminusspansecond {
    left: 50%;
    right: 50%;
}

@keyframes rotateX {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
